body, html {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  height: 100%;
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

div#main {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

video {
  width: 100%;
//  object-fit: cover;
//  overflow: hidden;
  position: absolute;
  top: 0;

}
.video-container {
  height: 100%;
  opacity: 1;
  &.off {
    opacity: 0;
  }
}

// hide the mouse
#main {cursor: none;}

// sliders
.adjustments {
  position: absolute;
  top: 10%;
  z-index: 1;
  cursor: default;
  height: 80%;
  label {
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    bottom: 50%;
    white-space: nowrap;
    width: 2em;
  }
  input[type=range] {
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 100%;
    padding: 0;
  }
}
.hidden {
  display: none;
}
