.toggle {
  text-align: left;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin: 0 0.5em;
}

.toggle.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.toggle.disabled .onoffswitch-label {
  cursor: not-allowed;
}

.toggle .label {
  margin: 0 0.25em;
}

.onoffswitch {
  position: relative;
  width: 72px;
  user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.15s ease-in 0s;
}

.onoffswitch-inner::before,
.onoffswitch-inner::after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner::before {
  content: 'ON';
  padding-left: 10px;
  background-color: #888;
  color: #fff;
}

.onoffswitch-inner::after {
  content: 'OFF';
  padding-right: 10px;
  background-color: #eee;
  color: #999;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 24px;
  height: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 38px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.15s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}
