body, html {
  overflow: hidden;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.display {
  flex: 1 1 auto;
  &.circle {
    clip-path: circle(50vh);
  }
}

.media-object {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;  
  &.enter {
    animation: 1s forwards fadeIn;
  }
  &.exit {
    animation: 1s forwards fadeOut;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

#mask {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.layer-enter {
  opacity: 0.01;
}
.layer-enter.layer-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.layer-leave {
  opacity: 1;
}
.layer-leave.layer-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.sliders {
  display: flex;
  top: 50%;
  position: absolute;
  z-index: 1;
  color: #fff;
  flex-wrap: wrap;
  label {
    background: rgba(0,0,0,0.5);
    display: block;
    transform: rotate(-90deg);
    width: 30vh;
    transform-origin: 0 0;
    input {
      width: 100%;
    }

  }
  .slider {
    width: 4em;
    height: 32vh;
  }
  button {
    height: 2em;
  }
}

.color {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: color;
}

video {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
iframe {
  height: 100%;
  width: 100%;
  border: 0;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}