@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.media-object {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}


.layer-enter {
  opacity: 0.01;
}
.layer-enter.layer-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.layer-leave {
  opacity: 1;
}
.layer-leave.layer-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.sliders {
  display: flex;
  top: 50%;
  position: absolute;
  z-index: 1;
  color: #fff;
  label {
    display: block;
  }
  .slider {
    transform: rotate(-90deg);
  }
}
